#logo-topo {
    width: 100px;
}

.logo {
    width: 30px;
    margin-left: 5%;
    margin-right: 5px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: rgb(131, 149, 149); */
    background-color: rgb(128, 125, 150);
    font-family: Arial, Helvetica, sans-serif;
}

.btn-exemplo {
    font-weight: 900;
    text-decoration: none;
    color: rgb(33, 29, 61);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 0;
    border-radius: 10px;
    margin-right: 10px;
    background-color: darkgoldenrod;
    box-shadow: 5px 5px 5px 0px rgb(87, 84, 105);
}

.btn-exemplo:hover {
    background-color: rgb(33, 29, 61);;
    color: darkgoldenrod;
}

.li-exemplo {
    margin-top: 10px;
}

.container-cabecalho {
    text-align: center;
    padding: 20px;
    /* background-color: darkslategray; */
    background-color: rgb(33, 29, 61);
    /* border-bottom: 3px solid black; */
    /* box-shadow: 0px 0px 15px 0px black; */
}

.container-cabecalho h3 {
    font-weight: 600;
    font-size: 2em;
    color: orange;
    text-shadow: 2px 2px black;
}

.container-nav {
    text-align: center;
    padding: 10px;
    background-color: darkgoldenrod;
    box-shadow: 0 5px 10px 0px rgb(87, 84, 105);
}

.container-nav a {
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: 15px;
    /* margin: 0px 30px; */
    padding: 5px;
    text-decoration: none;
    color: rgb(33, 29, 61);
}

.container-nav .atual {
    border: 2px solid goldenrod;
}

.container-nav a:hover {
    background-color: goldenrod;
}


/* ====================== PROFESSOR ============================= */

.container-professor {
    overflow: auto;
}

.container-professor .professor {
    margin: 30px auto;
    /* background-color: darkslategray; */
    background-color: rgb(33, 29, 61);
    width: 600px;
    padding: 20px;
    border: 6px solid darkgoldenrod;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0px black;
}

.container-professor .professor .professor-texto {
    font-size: 1.5rem;
    color: goldenrod;
    text-shadow: 2px 2px black;
}

.container-professor .professor .professor-texto2 {
    padding-top: 10px;
    font-size: 1.2rem;
    color: darkgoldenrod;
    font-style: italic;
}

.container-professor .professor .professor-texto3 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    color: darkgoldenrod;
    font-style: italic;
    text-align: left;
}

.container-contatos {
    background-color: rgb(33, 29, 61);
    padding: 80px;
    text-align: center;
}

.container-contatos h3 {
    font-size: 1.5em;
    color: darkgoldenrod;
    margin-bottom: 20px;
}

.btn-contatos a {
    color: goldenrod;
    display: block;
    max-width: 200px;
    text-decoration: none;
    background-color: rgb(119, 91, 21);
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;
}


/* =========================== DISCIPLINA ============================= */

.container-disciplina {
    overflow: auto;
}

.container-disciplina .unidade {
    margin: 30px auto;
    background-color: lightgray;
    width: 600px;
    padding: 20px;
    border: 6px solid darkgoldenrod;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0px black;
}

.container-disciplina .unidade .unidade-texto {
    font-size: 1.5rem;
    font-weight: 900;
    color: darkgoldenrod
}

.container-disciplina .unidade .unidade-texto2 {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 1.2rem;
    color: rgb(33, 29, 61);
    font-style: italic;
    text-align: left;
}