canvas {
    border: 6px solid darkorange;
    box-shadow: 0px 16px 16px 0px gray;
    background-color: darkslategray;
}

body {
    text-align: center;
    align-items: center;
    background-color: lightgray;
}

.container {
    text-align: center;
    align-items: center;
}

.titulo {
    color: darkslategrey;
    font-weight: bolder;
    font-size: x-large;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 6px 6px 0px gray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(220, 200, 162);
    border-radius: 5px;
    border: 2px solid white;
}

.topo {
    margin: 20px;
}

.botao-retornar {
    background-color: orange;
    color: darkslategray;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 0px 6px 6px 0px gray;
}

.botao-retornar:hover {
    background-color: darkslategray;
    color: orange;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: orange;
    padding: 5px;
    border-radius: 5px;
}

.painel-container {
    text-align: center;
    align-items: center;
}

.painel {
    color: darkslategrey;
    font-weight: bolder;
    font-size: larger;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(232, 230, 230);
    border: 3px solid white;
    box-shadow: 0px 2px 2px 0px gray;
    border-radius: 5px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.select-turma {
    margin: auto;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px 0px gray;
    border: 2px solid white;
    border-radius: 5px;
}


