.canvas {
    /* border: 4px solid steelblue; */
    border-radius: 20px;
    background-color: rgb(156, 196, 229);
    box-shadow: 0px 8px 8px 0px gray;
}


body {
    text-align: center;
    align-items: center;
    background-color: lightgray;
}

.cont-maior {
    display: block;
    margin-top: 3em;
    padding-top: 30px;
    position: relative;
    width: 100vw;
    height: fit-content;
    /* background-color: blue; ALTERAR ISTO */
}

#canvas-maior {
    z-index: 2;
    /* background-color: rgb(255, 0, 0, 0.1); */
    left: 0;
    top: 0;
    width: 100%;
    height: 400;
    position: absolute;
}

#canvas-mini {
    z-index: 1;
    background-color: transparent;
}

.duas-colunas {
    display: flex;
    position: absolute;
    margin: auto;
    width: 100%;
    height: fit-content;
    /* top: 50px; */
    /* background-color: greenyellow; */
    z-index: 0;
}

.container-esq {
    margin-left: auto;
    text-align: center;
    align-items: center;
    height: 370px;
}

.container-dir {
    display: block;
    margin-right: auto;
    margin-left: 2em;
    padding: 0 20px;
    border-radius: 20px;
    background-color: silver;
    box-shadow: 0px 8px 8px 0px gray;
    width: 200px;
    height: 370px;
}

.btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: auto;
    padding: 10px;
    background-color: darkslateblue;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:active {
    background-color: black;
}

.linha {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    align-items: center;
}

.rotulo {
    color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.titulo {
    color: darkslategrey;
    font-weight: bolder;
    font-size: x-large;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 6px 6px 0px gray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(220, 200, 162);
    border-radius: 5px;
    border: 2px solid white;
}

.topo {
    margin: 20px;
}

.botao-retornar {
    background-color: orange;
    color: darkslategray;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 0px 6px 6px 0px gray;
}

.botao-retornar:hover {
    background-color: darkslategray;
    color: orange;
}

.dropbtn {
    background-color: lightslategray;
    /* background: linear-gradient(to right, darkslateblue, transparent 90%); */
    width: 140px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.dropdown {
    margin: auto;
    width: auto;
    /* position: relative; */
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(91, 84, 84, 0.3);
    /* border-radius: 0 0 10px 10px; */
    z-index: 1;
}

.dropdown-content .item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .item:hover {
    /* background-color: gainsboro; */
    background: linear-gradient(to right, rgb(0, 0, 0, 0.3), transparent 80%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: darkred; */
    border-radius: 10px 10px 0 0;
}


/* =========================== DISCIPLINA ============================= */

.container-disciplina {
    overflow: auto;
}

.container-disciplina .unidade {
    margin: auto;
    color: rgb(87, 81, 81);
    background-color: rgb(234, 232, 232);
    margin-top: 400px;
    width: 600px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border: 6px solid darkgoldenrod;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 5px 0px black;
}

.container-disciplina .unidade .unidade-texto {
    font-size: 1.2rem;
    font-weight: 900;
    color: darkgoldenrod
}

.container-disciplina .unidade .unidade-texto2 {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 1.2rem;
    color: rgb(33, 29, 61);
    font-style: italic;
    text-align: left;
}